<a href="https://colab.research.google.com/github/Noodle96/InferenciaEstadistica/blob/main/sesion_01_muestreo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src="https://drive.google.com/uc?export=view&id=1pqIhlzdorBk5rt-2jFHcF8YCNudJfW4t" width="100"> 

$\tiny{Universidad \ Nacional \ de \ San \ Agustín \ de \ Arequipa \\
Facultad \ de \ Ciencias \ Naturales \ y \ Formales\\
Departamento \ Acad\acute{e}
mico \ de \ Estad\acute{i}stica}$

# <center>  $Primera \ Unidad$
### <center> $Muestreo$

# **Muestreo aleatorio simple**

Generacion de numeros aleatorios usando la instruccion $sample$

**Sesión de Laboratorio 01:** Muestreo

**Escuela Profesional:** Matemàtica

**Profesor:** Sergio Aquise

**Alumno:** Jorge Alfredo Tito Ccahuaya

---

In [ ]:
x=1:15
x

 [1]  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15

**Usando la base de cars**

In [ ]:
sample(x,4)

[1] 14  8  5 11

In [ ]:
help("for")

In [ ]:
cars

   speed dist
1   4      2
2   4     10
3   7      4
4   7     22
5   8     16
6   9     10
7  10     18
8  10     26
9  10     34
10 11     17
11 11     28
12 12     14
13 12     20
14 12     24
15 12     28
16 13     26
17 13     34
18 13     34
19 13     46
20 14     26
21 14     36
22 14     60
23 14     80
24 15     20
25 15     26
26 15     54
27 16     32
28 16     40
29 17     32
30 17     40
31 17     50
32 18     42
33 18     56
34 18     76
35 18     84
36 19     36
37 19     46
38 19     68
39 20     32
40 20     48
41 20     52
42 20     56
43 20     64
44 22     66
45 23     54
46 24     70
47 24     92
48 24     93
49 24    120
50 25     85

Tomamos los datos del dato numero 15 al dato numero 20 la columna 1, **speed**

In [ ]:
cars[15:20,1]

[1] 12 13 13 13 13 14

Tomamos los datos del dato numero 3 al dato numero 10 segunda columna 2,   **dist**

In [ ]:
cars[3:10,2]

[1]  4 22 16 10 18 26 34 17

Tomamos los datos del dato numero 2 al dato numero 7; de la columna 1 a la columna 2, **speed** y **dist**

In [ ]:
cars[2:7,1:2]

  speed dist
2  4    10
3  7     4
4  7    22
5  8    16
6  9    10
7 10    18

Tomamos una muestra de tamaño 4 de la base de datos cars

In [ ]:
x=1:50
#x
M=sample(x,4)
M

[1] 19  5 42  2

In [ ]:
muestra=cars[M,1:2]
muestra

   speed dist
19 13    46
5   8    16
42 20    56
2   4    10

Hallamos la media y la desviacion estandar de la muestra

para la variable $speed$

In [ ]:
muestra[,1]
Mx=mean(muestra[,1])
Mx

[1] 13  8 20  4

[1] 11.25

In [ ]:
lista = c(13,8,20,4)
mean(lista)

[1] 11.25

In [ ]:
Dx=sd(muestra[,1])
Dx

[1] 6.898067

para la variable $dist$

In [ ]:
Mx=mean(muestra[,2])
mean(c(46,16,56,10))
Mx

[1] 32

[1] 32

In [ ]:
Dx=sd(muestra[,2])
Dx

[1] 22.44994

La instrucción $set.seed$

In [ ]:
x=1:12
x

 [1]  1  2  3  4  5  6  7  8  9 10 11 12

In [ ]:
M=sample(x,4)
M

[1] 12  6  9  4

In [ ]:
set.seed(5513)
M=sample(x,5)
M

[1] 3 7 2 5 9

In [ ]:
set.seed(7158)
M=sample(x,4)
M

[1]  8 11  2 10

In [ ]:
M = sample(1:50,7)
#Mffwerwerwerwerwerwerwre
muestra2=cars[M,1:2]
#muestra2
media2 = mean(muestra2[,1])
media2

desviacionEstrandar2 = sd(muestra2[,1])
desviacionEstrandar2

set.seed(3317)
M = sample(1:50,7)
muestra3=cars[M,1:2]
#muestra3
media3 = mean(muestra3[,1])
desviacionEstrandar3 = sd(muestra3[,1])
media3
desviacionEstrandar3

[1] 14

[1] 6.531973

[1] 16.71429

[1] 3.147183

# **Muestreo aleatorio sistemático**

**N:** Tamaño de la población

**n:** Tamaño de la muestra

**p:** Periodo


$$p=\frac{N}{n}$$

**k:** punto de arranque aleatorio

$k=numero \ aleatorio \ del \ conjunto \$ {1,2,3,...,p}

In [ ]:
cars

   speed dist
1   4      2
2   4     10
3   7      4
4   7     22
5   8     16
6   9     10
7  10     18
8  10     26
9  10     34
10 11     17
11 11     28
12 12     14
13 12     20
14 12     24
15 12     28
16 13     26
17 13     34
18 13     34
19 13     46
20 14     26
21 14     36
22 14     60
23 14     80
24 15     20
25 15     26
26 15     54
27 16     32
28 16     40
29 17     32
30 17     40
31 17     50
32 18     42
33 18     56
34 18     76
35 18     84
36 19     36
37 19     46
38 19     68
39 20     32
40 20     48
41 20     52
42 20     56
43 20     64
44 22     66
45 23     54
46 24     70
47 24     92
48 24     93
49 24    120
50 25     85

In [ ]:
dim(cars)

[1] 50  2

In [ ]:
N=50
n=8
p=N/n
p

[1] 6.25

In [ ]:
p1=round(p)
p1

[1] 6

In [ ]:
y=1:p1
set.seed(4273)
k=sample(y,1)
k

[1] 3

In [ ]:
Muestra2=seq(k,N,p1)
Muestra2

[1]  3  9 15 21 27 33 39 45

In [ ]:
cars[Muestra2,]

   speed dist
3   7     4
9  10    34
15 12    28
21 14    36
27 16    32
33 18    56
39 20    32
45 23    54

Hallamos la media y la desviacion estandar de la muestra

para la variable speed

In [ ]:
MS=cars[Muestra2,]
MS

   speed dist
3   7     4
9  10    34
15 12    28
21 14    36
27 16    32
33 18    56
39 20    32
45 23    54

In [ ]:
Media=mean(MS[,1])
DesvStandar=sd(MS[,1])
Media
DesvStandar

[1] 15

[1] 5.318432

para la variable dist

In [ ]:
Media=mean(MS[,2])
DesvStandar=sd(MS[,2])
Media
DesvStandar

[1] 34.5

[1] 16.16875

# **Muestreo aleatorio estratificado**

$$n_i=n \left( \frac{N_i}{N} \right)$$

$n$ = Tamaño de la muestra

$N$=Tamaño de la poblacion

$N_i$=Tamaño de cada estratato

$n_i$=Tamaño en la muestra de cada estrato

**Ejemplo:**

Formaremos una poblacion de 400 objetos (homogeneos) en la cual esten definidos tres grupo(estratos) conformados somo sigue

Estrato 1 : 100 objetos

Estrato 2 : 200 objetos

Estrato 3 : 100 objetos

In [ ]:
VarEstratoDepartamento=c(rep(1,100),rep(2,200),rep(3,100))
VarEstratoDepartamento

  [1] 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 [38] 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 [75] 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 2 2 2 2 2 2 2 2 2 2 2
[112] 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2
[149] 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2
[186] 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2
[223] 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2
[260] 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2
[297] 2 2 2 2 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3
[334] 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3
[371] 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3

In [ ]:
sueldos=c(rnorm(100,1200,55),rnorm(200,3500,175),rnorm(100,2500,120))

In [ ]:
datos=cbind.data.frame(VarEstratoDepartamento,sueldos)
datos

    VarEstratoDepartamento sueldos
1   1                      1268.415
2   1                      1246.095
3   1                      1144.536
4   1                      1299.729
5   1                      1194.753
6   1                      1138.618
7   1                      1256.042
8   1                      1157.014
9   1                      1211.752
10  1                      1159.622
11  1                      1133.810
12  1                      1178.845
13  1                      1278.920
14  1                      1097.492
15  1                      1193.253
16  1                      1309.108
17  1                      1351.115
18  1                      1215.490
19  1                      1179.689
20  1                      1186.346
21  1                      1183.250
22  1                      1148.442
23  1                      1234.128
24  1                      1211.622
25  1                      1194.050
26  1                      1212.846
27  1                      1181.285
28  1                      1240.236
29  1                      1189.053
30  1                      1099.083
⋮   ⋮                      ⋮
371 3                      2565.016
372 3                      2645.188
373 3                      2593.972
374 3                      2687.051
375 3                      2449.529
376 3                      2477.639
377 3                      2572.980
378 3                      2659.700
379 3                      2615.453
380 3                      2549.249
381 3                      2409.325
382 3                      2535.235
383 3                      2441.938
384 3                      2416.241
385 3                      2609.072
386 3                      2511.173
387 3                      2547.588
388 3                      2443.926
389 3                      2531.966
390 3                      2435.749
391 3                      2423.754
392 3                      2414.341
393 3                      2595.304
394 3                      2453.569
395 3                      2619.090
396 3                      2693.002
397 3                      2579.131
398 3                      2518.706
399 3                      2299.786
400 3                      2444.119

In [ ]:
install.packages("survey")

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

also installing the dependencies ‘minqa’, ‘numDeriv’, ‘mitools’

In [ ]:
library(survey)

Loading required package: grid

Loading required package: Matrix

Loading required package: survival


Attaching package: ‘survey’


The following object is masked from ‘package:graphics’:

    dotchart

In [ ]:
install.packages("sampling")

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

also installing the dependency ‘lpSolve’

In [ ]:
library(sampling)

Attaching package: ‘sampling’


The following objects are masked from ‘package:survival’:

    cluster, strata

$n=36$

$N=400$

$N_1=100$

$N_2=200$

$N_3=100$





$n_1=n \left( \frac{N_1}{N} \right)=36 \left( \frac{100}{400} \right)=9$

$n_2=n \left( \frac{N_2}{N} \right)=36 \left( \frac{200}{400} \right)=18$

$n_3=n \left( \frac{N_3}{N} \right)=36 \left( \frac{100}{400} \right)=9$

In [ ]:
muestra=strata(datos,c("VarEstratoDepartamento"),size=c(9,18,9),method="srswor")
muestra

    VarEstratoDepartamento ID_unit Prob Stratum
2   1                        2     0.09 1
30  1                       30     0.09 1
38  1                       38     0.09 1
54  1                       54     0.09 1
62  1                       62     0.09 1
69  1                       69     0.09 1
78  1                       78     0.09 1
90  1                       90     0.09 1
95  1                       95     0.09 1
104 2                      104     0.09 2
112 2                      112     0.09 2
124 2                      124     0.09 2
129 2                      129     0.09 2
145 2                      145     0.09 2
148 2                      148     0.09 2
151 2                      151     0.09 2
155 2                      155     0.09 2
185 2                      185     0.09 2
193 2                      193     0.09 2
201 2                      201     0.09 2
207 2                      207     0.09 2
209 2                      209     0.09 2
226 2                      226     0.09 2
239 2                      239     0.09 2
264 2                      264     0.09 2
266 2                      266     0.09 2
273 2                      273     0.09 2
303 3                      303     0.09 3
336 3                      336     0.09 3
359 3                      359     0.09 3
362 3                      362     0.09 3
364 3                      364     0.09 3
372 3                      372     0.09 3
378 3                      378     0.09 3
381 3                      381     0.09 3
391 3                      391     0.09 3